* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #ebc4c4, #ece8ac);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

#title {
    font-size: 3em;
    font-weight: bold;
    color: #3d7aff;
    margin-bottom: 20px;
    padding: 20px;
    letter-spacing: 2px;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}

.quatre {
    color: rgb(226, 45, 45);
    font-size: 4rem;
}

main {
    display: flex;
    flex-direction: row;
}

#gameMode {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    position: relative;
}

#modeBtn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pvp, #cpu {
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(226, 26, 36);
    color: azure;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    width: 200px; 
    font-weight: 700;
}

#pvp:hover, #cpu:hover {
    background-color: #fbff00;
    color: black;
    scale: 1.1;
}

.right-column {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    align-content: flex-end;
    width: 70vw;
    height: 60vh;
    margin-top: 10vh;
}

#gameContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%; 
    height: 100%; 
    max-width: 650px; 
    max-height: 560px; 
    border: 2px double black;
    gap: 5px; 
    background-color: #3d7aff;
    padding: 5px; 
    align-self: center;
}

.row {
    display: contents; 
}

.cell {
    border: 2px solid black;
    background-color: white; 
    border-radius: 50%; 
    aspect-ratio: 1.01; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerTurn {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1044b3;
    text-align: start;
    position: absolute;
    top: 40%;
    left: 20px;
    transform: translateY(-50%);
}

#message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1044b3;
    text-align: start;
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.cell.red {
    background-color: red; 
}

.cell.yellow {
    background-color: yellow; 
}

.cell {
    transition: background-color 0.3s ease-in-out;
}

.red-text {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(226, 26, 36); 
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;   
}

.yellow-text {
    margin-left: 10px;
    margin-right: 10px;
    color: yellow; 
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 
        -1px -1px 0 black, 
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;   
}